* {
  background: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(0.25turn, #00af8c, #743296);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

section::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: linear-gradient(#743296, #e91e63);
  border-radius: 50%;
  transform: translate(-300px, 100px);
}

section::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(#28ffc9, rgba(255, 40, 113, 0.2));
  border-radius: 50%;
  transform: translate(300px, -100px);
}

.notes__container {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  /* Glassmorphism Effect Start */
  background: rgba(255, 255, 255, 0.323);
  z-index: 1;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 0 25px 45px rgba(255, 255, 255, 0.1);
  border-bottom: 0 25px 45px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  /* Glassmorphism Effect End */
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  border-right: 2px solid #dddddd50;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.notes__add--btn {
  background: #01ffcc;
  border: none;
  border-radius: 7px;
  color: #000;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add--btn:hover {
  background: #00af8c;
}

.notes__instruction {
  color: #555555;
  font-style: italic;
  font-size: 0.8em;
  cursor: default;
}

.notes__list {
  margin-top: 1em;
}

.notes__list-item {
  cursor: pointer;
}

.notes__list-item--selected {
  background: #eeeeee5a;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small--title,
.notes__small--updated {
  padding: 10px;
}

.notes__small--title {
  font-size: 1em;
}

.notes__small--body {
  padding: 0 10px;
  font-size: 0.8em;
  font-style: italic;
}

.notes__small--updated {
  color: #5e5e5e;
  font-style: italic;
  text-align: right;
  font-size: 0.7em;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  font-size: 2em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1em;
  resize: none;
}
